<video width='100%' controls poster='{{default_img_url}}'><source src='{{video_url}}' type='video/mp4'/><track kind='subtitles' src='{{video_srt_url}}' srclang='fr' label='FR' default></video><p>Le composant Video de HTML5 est requis pour lire cette vidéo.<a id='downloadLink' href='{{video_url}}'> Télécharger la vidéo.</a></p>