{
  "$and": [
    {
      "$comment": "{\"criterionLabel\":\"A\",\"criteriaPath\":[\"lrs_id\"]}",
      "$or": [
        {
          "lrs_id": {
            "$oid": "5f04392019a0867c2982f71b"
          }
        }
      ]
    }
    {{#learner_id}}
    ,
    {
      "$comment": "{\"criterionLabel\":\"B\",\"criteriaPath\":[\"statement\",\"actor\"]}",
      "$or": [
        {
          "statement.actor.account.name": "Learner:{{learner_id}}",
          "statement.actor.account.homePage": "https://www.tralalere.com/"
        }
      ]
    }
    {{/learner_id}}
    {{#LIP6_actor}}
    ,
    {
      "$comment": "{\"criterionLabel\":\"B\",\"criteriaPath\":[\"statement\",\"actor\"]}",
      "$or": [
        {
          "statement.actor.account.name": "LIP6 {{LIP6_actor}}",
          "statement.actor.account.homePage": "https://mindmath.lip6.fr/"
        }
      ]
    }
    {{/LIP6_actor}}
    {{#verb_id}}
    ,
    {
      "$comment": "{\"criterionLabel\":\"C\",\"criteriaPath\":[\"statement\",\"verb\"]}",
      "$or": [
        {
          "statement.verb.id": "{{verb_id}}"
        }
      ]
    }
    {{/verb_id}}
    {{#statement_reference}}
    ,
    {
      "$comment": "{\"criterionLabel\":\"D\",\"criteriaPath\":[\"statement\",\"object\"]}",
      "$or": [
        {
          "statement.object.id": "{{statement_reference}}",
          "statement.object.objectType": "StatementRef"
        }
      ]
    }
    {{/statement_reference}}
    {{#family_task}}
    ,
    {
      "$comment": "{\"criterionLabel\":\"F\",\"criteriaPath\":[\"statement\",\"object\"]}",
      "$or": [
        {
          "statement.object.id": "https://mindmath.lip6.fr/{{family_task}}"
        }
      ]
    }
    {{/family_task}}
    {{#correct_answer}}
    ,
    {
      "$comment": "{\"criterionLabel\":\"G\",\"criteriaPath\":[\"statement\",\"context\",\"extensions\",\"https://mindmath&46;lip6&46;fr/sensors\",\"correctAnswer\"]}",
      "$or": [
        {
          "statement.context.extensions.https://mindmath&46;lip6&46;fr/sensors.correctAnswer": "{{correct_answer}}"
        }
      ]
    }
    {{/correct_answer}}
    {{#no_gaming}}
    ,
    {
      "$comment": "{\"criterionLabel\":\"A\",\"criteriaPath\":[\"statement\",\"result\",\"success\"]}",
      "statement.result.success": {{no_gaming}}
    }
    {{/no_gaming}}
    {{#has_feedback}}
    ,
    {
      "$comment": "{\"criterionLabel\":\"A\",\"criteriaPath\":[\"statement\",\"result\",\"completion\"]}",
      "statement.result.completion": {{has_feedback}}
    }
    {{/has_feedback}}
  ]
}